/* Comotic project by Julien Stacchetti
module created at 2020-05-18
last update at 2020-05-19 */

body {
    font-family: Arial;
    color: black;
    background-color: white;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    margin-left: 20px;
}

a {
color: inherit; text-decoration: none;
}

input {
    margin-top: 2px;
}

h1 {
    font-feature-settings: bold;
    color: #000033;
    text-align: center;
}

table {
    text-align: center;
    font-size: 12px;
    margin: 4px;
}

tr {
    background-color: lightgray;
}

.trTitre {
    background-color: gray;
    color: white;
    font-weight: bold;
}

td {
    padding: 5px;
}

.titre {
    font-size: 18px;
    text-align: center;
}

.kpi {
    margin-top: 20px;
    font-size: 14px;
    font-weight: bold;
}

.sql {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: chartreuse;
    margin: 5px;
    padding: 6px;
}

.StatAlgo {
    font-family: monospace;
    font-size: 12px;
    font-weight: bold;
    background-color: black;
    color: white;
    margin: 5px;
    padding: 6px;
}