<!-- Comotic project by Julien Stacchetti
module created at 2020-05-18
last update at 2020-05-25 -->

{% extends 'nav.html' %}

{% block content %}

<h1>{{ titre }}</h1>

<div class='titre'>--- KPI Comotic - Base de donées : "Initiale" - Data : "dump" ---</div>

<div class='kpi'>
  <a href="">Liens pour présentation</a></div>
  <a href="https://comotic.io/" target="blank">
    <input type="button" value="Comotic"></a>
  <a href="https://trello.com/b/MVuA1773/comotic" target="blank">
    <input type="button" value="Kanban"></a>
  <a href="{{ url_for('static', filename='Schema_identification_entites_KickOff.svg') }}" target="blank">
    <input type="button" value="Schéma identification entités - KickOff"></a>
  <a href="{{ url_for('static', filename='Schema_identification_entites_Point_etape_1.svg') }}" target="blank">
    <input type="button" value="Schéma identification entités - Point étape 1"></a>
  <a href="{{ url_for('static', filename='Schema_BdD_Initiale.svg') }}" target="blank">
    <input type="button" value="Schéma BdD Initiale"></a>
  <a href="https://gitlab.com/JulienAtSimplon/p11_comotic" target="blank">
    <input type="button" value="GitLab"></a>
  <a href="{{ url_for('static', filename='Brouillon_Schema_entites_association_Propo.svg') }}" target="blank">
    <input type="button" value="Brouillon schema entités associations BdD Propo"></a>
  <a href="{{ url_for('static', filename='CR.pdf') }}" target="blank">
    <input type="button" value="Compte-rendu"></a>
  <a href="https://julienatsimplon.gitlab.io/portfolio/" target="blank">
    <input type="button" value="Portfolio"></a>


<div class='kpi'>
  <a href="">Filtres KPI</a></div>
<form method="get">
  <div class="xxx">WHERE avec "AND parent_id IS NULL
    <input name="parent_id" type="radio" value="True"><label for="Avec">Oui (par défaut)</label>
    <input name="parent_id" type="radio" value="False"><label for="Sans">Non</label>
  </div>
  <div class="xxx">
    <input name="account_id" type="text" value="{{ account_id }}">
    <label for="account_id">account_id</label>
  </div>
  <div class="xxx">
    <input name="date_start" type="text" value="{{ date_start }}">
    <label for="date_start">date_start</label>
  </div>
  <div class="xxx">
    <input name="date_end" type="text" value="{{ date_end }}">
    <label for="date_end">date_end</label>
  </div>
  <div class="xxx">
    <input name="time_start" type="text" value="{{ time_start }}">
    <label for="time_start">time_start</label>
  </div>
  <div class="xxx">
    <input name="time_end" type="text" value="{{ time_end }}">
    <label for="time_end">time_end</label>
  </div>
  <div class="xxx">
    <input name="day_start" type="text" value="{{ day_start }}">
    <label for="day_start">day_start</label>
  </div>
  <div class="xxx">
    <input name="day_end" type="text" value="{{ day_end }}">
    <label for="day_end">day_end</label>
  </div>
  <div class="xxx">
    <input type="submit" value="Modifier les requêtes">
    <a href="{{ url_for('get_home')}}"><input type="button" value="Reset"></a>
  </div>
</form>

<div class='kpi'>
  <a href="">KPI 1 - Nombre de message reçus</a></div>
  <div class='sql'>{{ sql_query1 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI1 }}</div>
<div class='kpi'>
  <a href="">KPI 2 - Temps de réponse</a></div>
  <div class='sql'>{{ sql_query2 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI2 }}</div>
    <table>
      <tr class="trTitre">
        <td>interlocutor_id</td>
        <td>ID Solicitation</td>
        <td>Date de solicitation</td>
        <td>Date de réponse</td>
        <td>Temps de réponse</td>
      </tr>
      {% for elt in KPI2 %}
      <tr>
        <td>{{ elt[0] }}</td>
        <td>{{ elt[1] }}</td>
        <td>{{ elt[2] }}</td>
        <td>{{ elt[3] }}</td>
        <td>{{ elt[4] }}</td>
      </tr>
      {% endfor %}
    </table>
<div class='kpi'>
  <a href="">KPI 3 - Temps de réponse moyen</a></div>
  <div class='sql'>{{ sql_query3 }}</div>
    <div class='StatAlgo'>Résultat nécésitant un traitement hors SQL (Moyenne sur des datetime pas possible en SQL): {{ KPI3 }}</div>
  </div>
<div class='kpi'>
  <a href="">KPI 4 - Taux de réponse automatique -> Comment déterminer qu'une réponse est automatique ?</a></div>
  <div class='sql'>{{ sql_query4 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI4 }}</div>
<div class='kpi'>
  <a href="">KPI 5 - Interlocauteurs</a></div>
  <div class='sql'>{{ sql_query5 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI5 }}</div>
<div class='kpi'>
  <a href="">KPI 6 - Interlocauteurs les plus actifs</a></div>
  <div class='sql'>{{ sql_query6 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI6 }}</div>
    <table>
      <tr class="trTitre">
        <td>interlocutor_id</td><td>Nombre de messages</td>
      </tr>
      {% for elt in KPI6 %}
      <tr>
        <td>{{ elt[0] }}</td><td>{{ elt[1] }}</td>
      </tr>
      {% endfor %}
    </table>
<div class='kpi'>
  <a href="">KPI 7 - Interlocauteurs les moins qualitatif</a></div>
  <div class='sql'>{{ sql_query7 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI7 }}</div>
    <table>
      <tr class="trTitre">
        <td>interlocutor_id</td><td>Nombre de messages à priorité basse</td>
      </tr>
      {% for elt in KPI7 %}
      <tr>
        <td>{{ elt[0] }}</td><td>{{ elt[1] }}</td>
      </tr>
      {% endfor %}
    </table>
<div class='kpi'>
  <a href="">KPI 8 - Interlocauteurs les plus critiques</a></div>
  <div class='sql'>{{ sql_query8 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI8 }}</div>
    <table>
      <tr class="trTitre">
        <td>interlocutor_id</td><td>Nombre de messages à priorité haute</td>
      </tr>
      {% for elt in KPI8 %}
      <tr>
        <td>{{ elt[0] }}</td><td>{{ elt[1] }}</td>
      </tr>
      {% endfor %}
    </table>
<div class='kpi'>
  <a href="">KPI 9 - Répartition des priorités</a></div>
  <div class='sql'>{{ sql_query9 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPI9 }}</div>
    <table>
      <tr class="trTitre">
        <td>score</td><td>Nombre de messages</td>
      </tr>
      {% for elt in KPI9 %}
      <tr>
        <td>{{ elt[0] }}</td><td>{{ elt[1] }}</td>
      </tr>
      {% endfor %}
    </table>
<div class='titre'>--- KPI bonus ---</div>
<div class='kpi'>
  <a href="">KPI bonus 1 - Moyennes de prioritées par interlocuteurs</a></div>
  <div class='sql'>{{ sql_query_alt1 }}</div>
    <div class='StatAlgo'>Résultat brut de requête : {{ KPIA1 }}</div>
    <table>
      <tr class="trTitre">
        <td>interlocutor_id</td><td>Prioritée moyenne des messages</td>
      </tr>
      {% for elt in KPIA1 %}
      <tr>
        <td>{{ elt[0] }}</td><td>{{ elt[1] }}</td>
      </tr>
      {% endfor %}
    </table>

{% endblock %}