<!doctype html>

<html lang="fr">

<head>
  <meta charset="utf-8">
  <title>{{ titre }}</title>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet"/>
</head>

<body>

  {% block content %}
  {% endblock %}

</body>
</html>